.user-plus-toggle:hover {
  background: #f0f2f5 !important;
  color: #4f46e5 !important;
  border-radius: 50% !important;
}
.user-plus-toggle {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_icons button,
.rounded-circle.p-2 {
  transition: background 0.2s, color 0.2s;
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.button_icons button:hover,
.rounded-circle.p-2:hover {
  background: #f0f2f5 !important;
  color: #4f46e5 !important;
  border-radius: 50% !important;
}

.custom-header-bg {
  background: #fff;
}

.search-input-group {
  max-width: 600px;
  width: 100%;
  background: transparent;
}

.button_icons{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

  .button_icons button{
    border: none !important;
    background-color: transparent !important;
  }
.search-icon-bg {
  background: #f5f6f8;
  border: none;
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 8px;
  height: 36px;
  display: flex;
  align-items: center;
}


.search-input-custom {
  background: #f5f6f8;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  color: #222;
  height: 36px;
  box-shadow: none;
  padding-left: 0;
}

.search-input-custom:focus {
  background: #f5f6f8;
}

.search-input-custom::placeholder {
  color: rgb(73, 73, 75);
  opacity: 1;
  font-size: 14px;
}
.header-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1030;
}